<div class="completed-tasks">
    @if (ParentPage.completedTodos.Count() > 0)
    {
                    <h4>Fullførte gjøremål</h4>
                    <table class="content-table">

        <thead>
            <tr>
                <th scope="col">Tittel</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var todo in ParentPage.completedTodos)
                {
                                            <tr>
                                                <td>@todo.Title</td>
                                                <td><button class="button-uncomplete" @onclick="() => RemoveTodo(todo)">Angre - Sett som ikke
                                                        fullført</button></td>
                                            </tr>
                }
                        </tbody>
                    </table>
    }
    else
    {
                    <h4>Ingen fullførte gjøremål</h4>
    }
</div>

@code {
    [CascadingParameter]
    public required Home ParentPage { get; set; }

    [Parameter]
    public EventCallback<Home.TodoItem> OnSetIncomplete { get; set; }

    private async Task RemoveTodo(Home.TodoItem todo)
    {
        await OnSetIncomplete.InvokeAsync(todo);
    }

}