@page "/logout"
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<PageTitle>Logout</PageTitle>
<div>...Logging out</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthService.Logout();
        NavigationManager.NavigateTo("/");
    }
}
